select, select > option {
    background: transparent;
    background-color: transparent;
    border-radius: 4px;
    font-size: 16px;
    color: #fff;
    padding: 5px;
}

select > option {
    background: #1b1b1b;
    color: #fff;
}