.editor_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.editor_container > button {
  color: #fff;
  width: fit-content;
  padding: 5px;
  background: transparent;
  border: 1px solid white;
}

.post_editor {
  width: 100%;
  min-height: 200px;
  max-height: 1000px;
  padding: 10px;
  border: 1px solid white;
  overflow-y: scroll;
  line-height: 150%;
  outline: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.post_editor::-webkit-scrollbar {
  display: none;
}

.post_editor img {
  width: 100%;
  border-radius: 10px;
}

p {
  line-height: 200%;
  font-size: 16px;
  margin-left: 0;
  margin-right: 0;
}