.category_menu {
    display: flex;
    gap: 20px;
    align-items: center;
}

small.delete_category {
    color: red;
    font-size: 16px;
    cursor: pointer;
}

.admin_categories {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.admin_category {
    padding: 10px;
    border: 2px solid #fff;
    width: fit-content;
    border-radius: 0 0 10px 0;
}