.home_page_posts {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.home_page_posts > .posts,
.home_page_posts > .posts > .post {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.home_page_posts > .posts > .post > .post__header,
.home_page_posts > .posts > .post > .post__category {
    width: fit-content;
}

.home_page_posts > .posts > .post > .post__header {
    font-size: 24px;
    line-height: 150%;
}

.home_page_posts > .posts > .post > .post__category {
    font-size: 16px;
}

.home_page_posts > .posts > .post > p {
    line-height: 150%;
    font-size: 20px;
}