.not_found_cont {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a.not_found_link {
    text-decoration: underline;
    text-underline-offset: 5px;
}